<div class="kcs-about-container">
    <div class="about-background"></div>
    <!--Photo by Jessica Furtney on Unsplash-->
    <div
        class="about-container fade-in"
        ngClass.gt-xs="tablet"
        ngClass.gt-md="desktop"
    >
        <h1>Kent Craftsmanship</h1>
        <p>
            Kent Craftsmanship is a privately owned woodworking company in the
            heart of Tomball, TX. After many years of a sparked interest in
            woodworking, Doug Kent began his journey in building fine furniture.
        </p>
        <p>
            His fine furniture building began out of necessity as he served on
            local and international mission trips. His initial portfolio
            included church pews, picnic tables, and bunk beds... as well as
            increased creativity and flexibility in times when a Haitian 2X4
            actually measured out to be a 3X5! With a passion for precise and
            handcrafted pieces, Doug shifted from mission trip furniture into
            the realm of beautiful, fine finished creations. Each piece is
            handcrafted with expertise and personalized through every detail.
        </p>
        <p>
            We hope you enjoy the beauty of Kent Craftsmanship's work, and feel
            free to follow @KentCraftsmanship on Instagram for detailed pictures
            and videos on the building process.
        </p>
        <img
            src="../../../assets/about-me/shop-picture.jpg"
            width="100%"
            alt="shop-picture"
        />
    </div>
</div>
