.home {
    .home-background {
        background: url(../../../assets/home-bg.jpg); //Photo by Jessica Furtney on Unsplash
        background-size: cover;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .kcs-title {
        text-align: center;
        padding-top: 15vh;

        .kcs-logo {
            width: 75%;

            &.tablet {
                width: 40%;
            }

            &.desktop {
                width: 20%;
            }
        }
    }
}
