.home {
    background: url(../../../assets/home-bg.jpg); //Photo by Ian Keefe on Unsplash
    background-size: cover;
    height: 100vh;

    .kcs-title {
        padding-top: 200px;
        text-align: center;

        h1, h2 {
            font-weight: 400;
        }
    }
}
