<div class="kcs-mtf-container">
    <div class="mtf-background"></div>
    <div class="mtf-container fade-in">
        <div class="mtf-info">
            <h1>Free Plans for Mission Trip Furniture</h1>
            <p>
                One of my passions is travelling on mission trips, and in particular building furniture in service to
                these communities. I have been to Mexico a couple of times and Haiti a few more times to serve churches
                and orphanages. On a number of occasions, I had to build different furniture pieces in bulk with help
                from the mission team and from the local population.
            </p>
            <p>
                When tasked with figuring out how to accomplish the requests from the orphanages and churches, I ran
                into some unique challenges. Building furniture in impoverished countries often leaves you with
                struggles
                of limited time, limited tools, poor lumber, and workers unfamiliar with construction. In particular
                with the country of Haiti, the lumber comes with a ton of variation on dimensions. A 2x4 board can be
                anywhere between the standard 1.5" by 3.5" to 3" by 5".
            </p>
            <p>
                In trying to address these challenges, I looked online for a hub of easy-to-build furniture for
                mission trips. I was not able to find a single one. So I started to design plans that took into account
                the lumber variation, lack of tools, and the lower level of skill.
            </p>
            <p>
                I have published a few of my mission trip furniture plans below in an attempt to meet a need that I came
                across in those times. They are free to download and should only require a few basic tools. On our
                trips, we used circular saws, cordless drills, cordless impact drivers, socket wrenches and tape
                measures. I will continue to add to this list of downloadable plans occasionally for new, free,
                easy-to-construct projects geared towards work in 3rd world countries.
            </p>
        </div>
        <div class="mtf-list">
            <mtf-list [items]="items"></mtf-list>
        </div>
    </div>
</div>