<div class="kcs-mtf-container">
    <div class="mtf-background"></div>
    <div
        class="mtf-container fade-in"
        ngClass.gt-sm="tablet"
        ngClass.gt-md="desktop"
    >
        <h1>Mission Trip Furniture</h1>
        <p>
            One of my passions is travelling on mission trips, and in particular
            building furniture in service to these communities. On a number of
            occasions, I had to build different furniture pieces in bulk with
            help from the mission team and from the local population.
        </p>
        <p>
            When trying to plan projects for these trips, I looked online for a
            hub of easy-to-build furniture designed for mission trips. I was not
            able to find a single one. As a website developer in my professional
            career, I was uniquely able to create such a hub.
        </p>
        <p>
            Linked below is missiontripfurniture.org where users can go and
            freely search for plans as well as create a free account and upload
            their own plans to share.
        </p>

        <div class="button-row" fxLayout="row" fxLayoutAlign="center">
            <a
                mat-raised-button
                color="primary"
                href="https://missiontripfurniture.org"
                target="_blank"
                ngClass.gt-sm="tablet"
            >
                Go To Mission Trip Furniture
            </a>
        </div>
    </div>
</div>
