.kcs-portfolio-container {

    .portfolio-background {
        //background: url(../../../assets/about-bg.jpg); //Photo by Jessica Furtney on Unsplash
        //background-size: cover;
        height: 100vh;
        width: 100%;
        position: fixed;
        //opacity: 0.5;
    }

    .portfolio {
        padding: 70px 5%;

        .tile {
            margin: 10px;
            background-color: rgba(255, 255, 255, 0.75);

            .image-tile {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
            }
        }
    }
}