.nav-bar {
  height: 70px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw; }
  .nav-bar .hidden {
    display: none; }
  .nav-bar .nav-bar-container {
    padding: 10px 20px; }
    .nav-bar .nav-bar-container ul.nav-bar-nav {
      margin: 0;
      padding: 0; }
      .nav-bar .nav-bar-container ul.nav-bar-nav li.nav-item {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        margin-right: 50px;
        text-align: center; }
        .nav-bar .nav-bar-container ul.nav-bar-nav li.nav-item a.nav-link {
          color: #3d3d3d;
          text-decoration: none; }

