.nav-bar {
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;

    .hidden {
        display: none;
    }

    .nav-bar-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 70px;
        padding: 10px 20px;

        .nav-bar-header {
            position: absolute;
            left: 0;
            top: 0;

            .nav-bar-brand {
                display: block;
            }
        }

        ul.nav-bar-nav {
            position: absolute;
            right: 20px;
            top: 10px;
            margin: 0;
            padding: 0;

            li.nav-item {
                margin: 0;
                padding: 0;
                list-style: none;
                display: inline-block;
                margin-right: 50px;
                text-align: center;

                a.nav-link {
                    color: #3d3d3d;
                    text-decoration: none;
                }
            }
        }
    }
}
