<nav class="nav-bar">
    <div class="nav-bar-container">
        <div class="nav-bar-header" [ngClass]="{'hidden': isFirstSection}">
            <a class="nav-bar-brand" pageScroll href="#home">
                <img alt="icon" src="../../../assets/kent-craftsmanship-icon.png" height="50px;" />
            </a>
        </div>
        <div>
            <ul class="nav-bar-nav">
                <li class="nav-item">
                    <a class="nav-link" pageScroll href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" pageScroll href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" pageScroll href="#mtf">Mission Trip Furniture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" pageScroll href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>