/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import './kcs-theme.scss';

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    width: 100%;
}

.kcs-container {
    padding: 0;
}

section {
    height: 100vh;
}