.contact-form {
    width: 500px;
    margin: 0 auto;
}

    .contact-form mat-form-field {
        width: 100%;
    }

    .contact-form .center-form-row {
        text-align: center;
    }

    .text-error {
        color: #8a0000
    }
