<h2>Contact</h2>
<form class="contact-form" (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <mat-form-field>
        <input id="email"
               matInput
               maxlength="256"
               placeholder="Email Address"
               required
               (ngModel)="model.email"
               name="email" />
    </mat-form-field>
    <mat-form-field>
        <input id="subject"
               matInput
               maxlength="100"
               placeholder="Subject"
               required
               (ngModel)="model.subject"
               name="subject" />
    </mat-form-field>
    <mat-form-field>
        <textarea id="body"
                  #message
                  matInput
                  maxlength="500"
                  placeholder="Body"
                  matTextareaAutosize
                  matAutosizeMinRows="5"
                  matAutosizeMaxRows="5"
                  required
                  (ngModel)="model.body"
                  name="body"></textarea>
        <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
    </mat-form-field>
    <div class="center-form-row">
        <button type="submit" matButton [disabled]="!contactForm.form.valid && !this.submitting">Submit</button>
    </div>
</form>