<h2>Contact</h2>
<form class="contact-form" (ngSubmit)="onSubmit(model)" #contactForm="ngForm">
    <mat-form-field>
        <input id="email"
               type="email"
               matInput
               maxlength="256"
               placeholder="Email Address"
               required
               [(ngModel)]="model.email"
               name="email"
               email />
        <!--<mat-error *ngIf="email.hasError('email') && !#email.hasError('required') ">
            Please enter a valid email address.
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>-->
    </mat-form-field>
    <mat-form-field>
        <input id="subject"
               matInput
               maxlength="100"
               placeholder="Subject"
               required
               [(ngModel)]="model.subject"
               name="subject" />
    </mat-form-field>
    <mat-form-field>
        <textarea id="body"
                  #message
                  matInput
                  maxlength="500"
                  placeholder="Body"
                  matTextareaAutosize
                  matAutosizeMinRows="5"
                  matAutosizeMaxRows="5"
                  required
                  [(ngModel)]="model.body"
                  name="body"></textarea>
        <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
    </mat-form-field>
    <div class="center-form-row">
        <div class="g-recaptcha"
             data-sitekey="6Lcc5UIUAAAAAEqED9lpGrleB--Hb4lemcZBhVjO"></div>
        <button type="submit"
                mat-button
                [disabled]="!contactForm.form.valid && !this.submitting">
            Submit
        </button>
    </div>
</form>