.home {
    background: url(../../../assets/home-bg.jpg); //Photo by Ian Keefe on Unsplash
    background-size: cover;
    height: 100vh;

    .kcs-title {
        text-align: center;

        /* #### Mobile Phones #### */
        @media screen and (max-width: 768px) {
            & {
                padding-top: 150px;
            }

            .kcs-logo {
                width: 75%;
            }
        }

        /* #### Tablets Portrait or Landscape #### */
        @media screen and (min-width: 769px) and (max-width: 1023px) {
            & {
                padding-top: 100px;

                .kcs-logo {
                    width: 450px;
                    height: 400px;
                }
            }
        }

        /* #### Desktops #### */
        @media screen and (min-width: 1024px) {
            & {
                padding-top: 150px;

                .kcs-logo {
                    width: 450px;
                    height: 400px;
                }
            }
        }
    }
}
