.nav-bar {
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    .nav-bar-container {
        height: 56px;
        padding: 0 24px;

        .nav-bar-header {
            .nav-bar-brand {
                display: block;
                margin-top: 4px;
                text-align: center;
            }
        }

        .nav-bar-nav {
            .nav-bar-mobile {
                .nav-bar-toggle {
                    background: none;
                    border: none;
                    height: 40px;
                    width: 40px;
                    cursor: pointer;
                }
            }

            .nav-bar-reg {
                width: 100%;

                ul {
                    margin: 0;
                    padding: 0;

                    li.nav-item {
                        margin: 0 0 0 24px;
                        padding: 0;
                        list-style: none;

                        a.nav-link {
                            color: #3d3d3d;
                            text-decoration: none;
                            line-height: 40px;
                        }
                    }
                }
            }
        }

        .nav-bar-dropdown {
            width: 100%;
            position: fixed;
            top: 56px;
            left: 0px;

            ul {
                display: block;
                margin: 0;
                padding: 0 24px;
                width: 100%;

                li.nav-item {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    text-align: center;
                    height: 40px;
                    line-height: 40px;

                    a.nav-link {
                        display: block;
                        color: #3d3d3d;
                        text-decoration: none;
                        width: 100%;
                    }
                }

                li.nav-item-icon {
                    width: 50%;

                    a.nav-link {
                        margin: 0 12px;
                    }
                }
            }
        }
    }
}

.nav-bar-background {
    background: rgba(244, 244, 246, 0.75);
}
