<app-nav [currentSection]="currentSection"></app-nav>
<div class="kcs-container">
    <section id="home">
        <app-home (section-dimensioned)="registerSection($event)"></app-home>
    </section>
    <section id="about">
        <app-about (section-dimensioned)="registerSection($event)"></app-about>
    </section>
    <section id="portfolio">
        <app-portfolio (section-dimensioned)="registerSection($event)"></app-portfolio>
    </section>
    <section id="mtf">
        <app-mtf (section-dimensioned)="registerSection($event)"></app-mtf>
    </section>
    <section id="contact">
        <app-contact (section-dimensioned)="registerSection($event)"
                     (inquiry-submitted)="submitInquiry($event)"></app-contact>
    </section>
</div>
