.mtf-list-item {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255,255, 255, 0.75);
    display: flex;
    color: inherit;
    text-decoration: none;
    font-size: 14px;

    .mtf-list-item-img {
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .mtf-list-item-info {
        width: 50%;
        height: 100%;
        padding: 10px;

        .name { 
            font-size: 16px;
            margin-bottom: 10px;
        }

        .description, .materials {
            font-size: 12px;
        }

        .materials {
            ul {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                margin: 0px;
                padding: 0px;

                li {
                    list-style: none;
                }
            }
        }
    }
}

@media screen and (max-width: 720px) { 
    .mtf-list-item {
        .mtf-list-item-info {
            .description {
                display: none;
            }
        }
    }
}