<div class="kcs-mtf-container">
    <div class="mtf-background"></div>
    <div class="mtf-container">
        <div class="mtf-info">
            <h1>Free Plans for Mission Trip Furniture</h1>
            <p>One of my passions is travelling on mission trips and in particular building furniture in service to
                these
                communities. I have been to Mexico a couple of times and Haiti a few more times to serve churches and
                orphanges. On a number of occassions, I had to build different furniture pieces in bulk with help from
                the
                mission team and from the local population.</p>
            <p>Some of the challenges with building furniture in impovrished countries is limited time, limited tools,
                poor
                lumber from which to choose, and workers unfamiliar with construction. When tasked with figuring out
                how to
                accomplish the requests from the orphange or church we were assisting. In particular with the country
                of
                Haiti, the lumber comes with a ton of variation on dimensions. A 2x4 board can be any where between the
                standard 1.5" by 3.5" to 3" by 5".</p>
            <p>I went looking online for a hub of easy to build furniture for mission trips. I was not able to find a
                single one. So I started to put together plans myself that took into account the lumber variation, lack
                of tools, and the lower level of skill. All the hardware still had to be bought in the United States
                and brought into the country that we were serving.</p>
            <p>In an attempt to meet a need I am making part of my website a small version of what I was looking for in
                those times. I have made the plans that I put together for a few of my projects available for free
                download. I will be adding to this list occassionally for new easy to construct free plans.</p>
        </div>
        <div class="mtf-list">
            <mtf-list [items]="items"></mtf-list>
        </div>
    </div>
</div>