<div class="kcs-about-container">
    <div class="about-background"></div>
    <!--Photo by Jessica Furtney on Unsplash-->
    <div class="about-container fade-in">
        <h1>Kent Craftsmanship</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in est efficitur, iaculis urna non,
            imperdiet quam. Integer euismod eros eu elit gravida posuere. Nulla vulputate est ac felis ultricies
            pellentesque. Pellentesque accumsan blandit mi. Curabitur at porta nisl. Sed ac congue urna, sed rhoncus
            erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Cras
            faucibus elit nibh, porttitor auctor massa vehicula at. Quisque laoreet finibus auctor.
        </p>
        <p>
            Cras ligula nisl, maximus nec lacinia ut, eleifend sed leo. Cras sodales id enim ut pellentesque. Sed
            dictum, leo ut lobortis fringilla, sem lectus ultricies sem, eu mollis purus mi ut dui. Morbi mauris
            tellus, auctor vel volutpat nec, mollis ullamcorper orci. Praesent in magna at quam lobortis interdum.
            Suspendisse potenti. Phasellus lacinia sapien mi, at consectetur augue luctus ut. In quis pretium metus.
            Nam congue libero nec nibh vestibulum, vitae fermentum eros rhoncus. Curabitur sit amet tempus nisl. Donec
            varius tempus velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Fusce ornare consectetur est quis consequat.
        </p>
    </div>
</div>