.kcs-contact-container {
    padding: 80px 16px 16px 16px;

    .contact-background {
        background: url(../../../assets/contact-bg.jpg); //Photo by Jessica Furtney on Unsplash
        background-size: cover;
        height: 100vh;
        width: 100%;
        opacity: 0.75;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .contact-form {
        margin: 0 auto;

        &.tablet {
            width: 70%;
        }
        &.desktop {
            width: 50%;
        }
    }
}
