<div class="kcs-contact-container">
    <div class="contact-background"></div>
    <!--Photo by Simon Stankowski on Unsplash-->
    <div class="contact-form fade-in">
        <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script>
        <iframe class="airtable-embed airtable-dynamic-height"
                src="https://airtable.com/embed/shrPUD086SRdxzmb8?backgroundColor=gray" frameborder="0" onmousewheel=""
                width="100%" height="982" style="background: transparent; border: 1px solid #ccc;"></iframe>
    </div>
</div>