.kcs-contact-container {
    padding-top: 40px;

    .contact-background {
        background: url(../../../assets/contact-bg.jpg); //Photo by Jessica Furtney on Unsplash
        background-size: cover;
        height: 100vh;
        width: 100%;
        opacity: 0.75;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .contact-form {
        font-size: 14px;
        width: 50%;
        margin: 100px auto 40px auto;
        padding: 20px;
        background: rgba(255,255, 255, 0.75);

        h1 {
            margin-top: 0px;
            font-weight: 400;
        }

        mat-form-field {
            width: 100%;
        }

        .center-form-row {
            text-align: center;
            margin-top: 10px;

            button {
                margin-top: 10px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .contact-form {
            width: 80%;
        }
    }
}

::ng-deep snack-bar-container.text-error {
    color: #d10c0c;
    background-color: rgba(255,255, 255, 0.75);
    
    simple-snack-bar {
        font-size: 18px;
    }
}

::ng-deep snack-bar-container.text-success {
    color: #2e742b;
    background-color: rgba(255,255, 255, 0.75);

    simple-snack-bar {
        font-size: 18px;
    }
}
